%ol.inline-flex.items-center.space-x-1.md:space-x-2.rtl:space-x-reverse
  - breadcrumb_items.each_with_index do |item, index|
    %li.inline-flex.items-center.group
      - if index.positive?
        %svg.rtl:rotate-180.block.w-3.h-3.mx-1.text-gray-400{"aria-hidden" => "true", fill: "none", viewbox: "0 0 6 10", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "m1 9 4-4-4-4", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}

      - if item.url
        = link_to item.url, class: 'inline-flex items-center gap-1 text-md ms-1 font-medium group-last:font-bold text-gray-700 hover:text-sky-400 dark:text-gray-400 dark:hover:text-sky-400 transition-colors' do
          - case item.icon
          - when :logo
            %svg.inline.w-5.h-5.fill-current{:space => "preserve", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M415.803 268.9c23.204-29.203 35.807-65.119 35.807-102.975 0-44.32-17.259-85.987-48.598-117.326C371.672 17.259 330.005 0 285.685 0c-37.858 0-73.773 12.603-102.975 35.807L153.444 6.541a19.19 19.19 0 0 0-27.14 0c-87.885 87.885-87.885 230.882 0 318.766 39.361 39.361 90.806 62.332 146.052 65.523v29.047h-2.678c-40.188 0-72.884 32.719-72.884 72.907 0 10.599 8.593 19.217 19.192 19.217h154.733c10.599 0 19.192-8.617 19.192-19.217 0-40.188-32.696-72.907-72.884-72.907h-6.287V389.85c50.778-5.563 97.767-27.98 134.329-64.543 7.495-7.495 7.495-19.647 0-27.142L415.803 268.9zm-98.775 189.361c11.925 0 22.455 6.397 28.654 15.354h-104.66c6.199-8.956 16.729-15.354 28.656-15.354h47.35zm-31.343-105.416c-50.017 0-96.981-19.419-132.241-54.679-68.338-68.338-72.634-176.837-12.879-250.221L155.57 62.95c-23.204 29.202-35.805 65.119-35.805 102.975 0 44.319 17.259 85.987 48.598 117.326 31.337 31.339 73.005 48.598 117.325 48.598 37.858 0 73.773-12.602 102.975-35.805l15.007 15.007c-33.21 27.076-74.439 41.794-117.985 41.794zm90.184-96.738c-24.089 24.089-56.116 37.355-90.184 37.355-34.067 0-66.094-13.266-90.183-37.355s-37.355-56.117-37.355-90.184 13.266-66.095 37.355-90.184c24.089-24.088 56.116-37.355 90.183-37.355 34.068 0 66.095 13.267 90.184 37.355 24.089 24.089 37.355 56.116 37.355 90.184 0 34.067-13.266 66.095-37.355 90.184z"}
          - when String
            %i.mx-1.fas{class: item.icon}

          = item.content
      - else
        %span.ms-1.text-md.font-medium.text-gray-500.md:ms-2.dark:text-gray-400.group-last:font-bold= item.content
