- if allowed_to?(:create?, Network.new(exercise: @exercise))
  - provide :new_url do
    = url_for [:new, @exercise, :network]

- title @network.name

= render 'form'
- if @network.persisted?
  = render 'addressing'
  = render 'config_map'