- if vm.connection_nic
  .mb-3
    %h2.text-xl Connection information

  .grid.grid-flow-col.gap-4
    %div
      %dt.text-sm.text-gray-500.dark:text-gray-400 Network connected to main interface
      %dd.mt-1.text-sm.text-gray-900.dark:text-white.mt-0
        = link_to vm.connection_nic.network.name, [vm.exercise, vm.connection_nic.network], class: 'text-indigo-600 hover:text-indigo-900 dark:text-indigo-400'

    %div
      %dt.text-sm.text-gray-500.dark:text-gray-400= NetworkInterface.human_attribute_name(:fqdn)
      %dd.mt-1.text-sm.text-gray-900.dark:text-white.mt-0
        = render LiquidFQDNComponent.new(object: vm)

    %div
      %dt.text-sm.text-gray-500.dark:text-gray-400 Connection address
      %dd.mt-1.text-sm.text-gray-900.dark:text-white.mt-0
        = render LiquidAddressComponent.new(object: vm.connection_address)
