- title "Inventory"

- if @virtual_machines.any?
  %section#vm-grid.bg-gray-50.dark:bg-gray-600.dark:text-white.mt-6
    %header.rounded-t-lg.bg-gray-400.dark:bg-gray-800.text-xs.text-gray-100.dark:text-gray-300.uppercase.tracking-wider.font-semibold.py-3.-mx-3
      %name= VirtualMachine.human_attribute_name(:name)
      %fqdn= CustomizationSpec.human_attribute_name(:fqdn)
      %connection-address
        %i.fas.fa-satellite-dish
        Connection address
    = render partial: 'virtual_machine', collection: @virtual_machines, as: :virtual_machine, cached: ->(vm) { [vm.cache_key_with_version, 'search', allowed_to?(:destroy?, vm), allowed_to?(:read_tags?, vm.host_spec)] }

- else
  = render 'shared/empty', klass: VirtualMachine
