= turbo_stream.replace dom_id(@credential, 'list_item') do
  = render 'credential_sets/credential_list_row', credential: @credential

= turbo_stream.update dom_id(@credential) do
  = render @credential