= render SubResourceSectionComponent.new(header: 'Credentials list') do |section|
  - section.with_button do
    = link_to [:new, @exercise, @credential_set, :credential], data: {turbo_stream: true}, class: 'form-submit-add' do
      %i.fas.fa-plus.self-center
      Add credential

  .divide-y-4.divide-double.divide-gray-200.dark:divide-gray-500{id: "#{dom_id(@credential_set)}_credentials"}
    = render @credential_set.credentials.sort