.flex.h-full.items-center.justify-center
  .text-3xl.text-gray-700.dark:text-gray-500.text-center
    %i.fas.fa-3x{class: Credential.to_icon}

    %p.py-6
      Select a cred from the list or add a new one
